# Dependency directories
/node_modules
node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build output
/dist

# Editor directories and files
.idea
.vscode

# Compiled binary addons (You might not need this depending on your project)
/build/Release

# macOS directories
.DS_Store

# Config files
config.js
config.json

# Production deployment
*.pem

# Testing and development files
test/
